.editorContainer {
  padding: 1em;
  margin: 1em;
  border: 2px blue;
}

* {
  box-sizing: border-box;
}
#content {
  width: 480px;
  margin: 0 auto;
}
.editors {
  border: 1px solid grey;
  padding: 6px;
}

.buttons {
  position: relative;
  left: 600px;
}
